<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <span class="navbar-brand visible-xs visible-sm" id="displayResults">Display results</span>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="loadTemplateLink" href="#">Load results</a></li>
                    <li><a href="#"><span id="saveTemplateLink">Save</span><i id="saveSpinner" class="fa fa-cog fa-spin" style="display: none; margin-left: 9px; color: #9d9d9d"></i></a></li>
                    <li><a id="saveNewTemplateLink" href="#">Save as new...</a></li>       
                    <li><a id="showAddAthleteModal" href="#">Add athlete</a></li>                                   
                    <li><a id="changeColour" href="#">Change colours</a></li>   
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
