@model UrbanDecathlon.Models.Template

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Urban Decathlon</h1>
    <span id="save">Save</span>
    <div id="overallScore" class="lead">
    </div>
</div>

<div id="eventList row">
    @foreach (var currentEvent in Model.Events)
    {
        <div class="event-details" data-id="@currentEvent.Id" data-name="@currentEvent.Name">
            <h3>@currentEvent.Name</h3>
            <div class="event-holder col-sm-12">
                @foreach (var position in currentEvent.Positions)
                {
                    if (string.IsNullOrEmpty(position.Athlete.Colour))
                    {
                        <span data-athlete="@position.Athlete.Name" class="athlete-block col-xs-12 col-sm-1 col-md-1">@position.Athlete.Name</span>
                    }
                    else
                    {
                        <span data-athlete="@position.Athlete.Name" class="athlete-block col-xs-12 col-sm-1 col-md-1 color-set" style="background-color: @position.Athlete.Colour">@position.Athlete.Name</span>
                    }
                }
            </div>
        </div>        
    }
</div>


<script type="text/javascript">
    $(function () {

        $('#save').click(function () {

            var events = [];

            $('.event-details').each(function () {

                var currentEvent = $(this);

                var positions = [];

                $(currentEvent).find('span').each(function (i, athlete) {

                    positions.push({
                        //Id,
                        Order: i + 1,
                        Score: 5,
                        Athlete: {
                            //Id,
                            Name: $(athlete).text()
                        }
                        

                    });

                });




                events.push({
                    Id: currentEvent.data('id'),
                    Name: currentEvent.data('name'),
                    Positions: positions
                });

            });


            $.ajax({
                method: "POST",
                url: "Save",
                data: { Id: "1", Name: "Hello", Password: "World", Events: events }
            })

        });

        var athletes = $('.event-holder').first().find('.athlete-block');

        randomiseColours();

        workOutOrder();

        $('.event-holder').sortable({
            start: function (e, ui) {
                ui.placeholder.height(ui.item.height());
                ui.placeholder.width(ui.item.width());
            },
            stop: function () {
                workOutOrder();
            },
            revert: true
        });

        function workOutOrder() {
            var athleteInfo = {};

            $('.event-holder').each(function () {

                var countDown = athletes.length + 1;

                $(this).find('.athlete-block').each(function (x, item) {

                    var block = $(this);

                    if (athleteInfo[block.text()] == undefined) {
                        athleteInfo[block.text()] = countDown;
                    } else {
                        athleteInfo[block.text()] += countDown;
                    }

                    if (x == 0) {
                        countDown -= 2;
                    } else {
                        countDown -= 1;
                    }

                });
            });

            var sortedAthletes = sortObject(athleteInfo).reverse();

            $('#overallScore').text('');

            $.each(sortedAthletes, function (x, item) {
                $('<span>').text(item.key + ': ' + item.value).appendTo($('#overallScore'));
            });
        }

        $('#changeColour').click(function () {
            randomiseColours();
        });

        function randomiseColours() {
            athletes.not('.color-set').each(function () {

                var athleteName = $(this).data('athlete');
    
                $('*[data-athlete="' + athleteName + '"]').css('background-color', getRandomRolor());
            });
        }

        function sortObject(obj) {
            var arr = [];
            for (var prop in obj) {
                if (obj.hasOwnProperty(prop)) {
                    arr.push({
                        'key': prop,
                        'value': obj[prop]
                    });
                }
            }
            arr.sort(function (a, b) { return a.value - b.value; });
            return arr; // returns array
        }

        function getRandomRolor() {
            var letters = '0123456789'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 10)];
            }
            return color;
        }
    });
</script>